body, html {
    margin: 0;
    font-family: sans-serif;

}

div {
    padding: 10px;
}

.backimage{
    position: absolute;
    left: 600px;
    top: 110px;
    width: 1000px;
    height: 900px;
    background-image: url("../images/france.png");
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
}

.logo{
    position: absolute;
    text-align: center;
    left: 10px;
    top: 0px;
    width: 400px;
    height: 90px;
    background-color: #87CEFA;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.bandeau{
    position: absolute;
    left: 430px;
    top: 0px;
    width: 1300px;
    height: 90px;
    background-color: #87CEFA;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.description{
    position: absolute;
    left: 10px;
    top: 430px;
    width: 400px;
    height: 150px;
    background-color: #87CEFA;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.links{
    position: absolute;
    left: 10px;
    top: 110px;
    width: 400px;
    height: 300px;
    padding: 5px;
    margin: 5px;
    background-color: #87CEFA;
    margin: 5px;
    border: 1px solid black;
}

.filtre{
    position: absolute;
    left: 10px;
    top: 600px;
    width: 400px;
    height: 180px;
    padding: 5px;
    background-color: #87CEFA;
    margin: 5px;
    border: 1px solid black;
}

.logout{
    position: absolute;
    left: 10px;
    top: 800px;
    width: 400px;
    height: 200px;
    padding: 5px;
    background-color: #87CEFA;
    margin: 5px;
    border: 1px solid black;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

td {
    text-align: center;
    padding: 5px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

section{
    width: 610px;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.perf_nat{
    position: absolute;
    left: 600px;
    top: 790px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
}


.perf_reg1{
    position: absolute;
    left: 400px;
    top: 10px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
}


.perf_reg2{
    position: absolute;
    left: -50px;
    top: 100px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
}


.perf_reg3{
    position: absolute;
    left: 800px;
    top: 100px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
}

.perf_reg4{
    position: absolute;
    left: 800px;
    top: 500px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
}

.perf_reg5{
    position: absolute;
    left: 90px;
    top: 550px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
}

.historique{
    position: absolute;
    left: 650px;
    top: 200px;
    width: 800px;
    height: 400px;
    background-color: #F0F8FF;
    padding: 10px;
}

.details{
    position: absolute;
    left: 650px;
    top: 200px;
    background-color: #F0F8FF;
    padding: 10px;
}

.palmares{
    position: absolute;
    left: 500px;
    top: 130px;
    background-color: #F0F8FF;
    padding: 10px;
    margin: 10px;
    width: 1150px;
}


.accueil_region{
    position: absolute;
    left: 0px;
    top: 750px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 350px;
    box-shadow: 10px 5px 5px black;
}

.total_magasin{
    position: absolute;
    left: -400px;
    top: 0px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 300px;
    box-shadow: 10px 5px 5px black;
}

.region_hifi{
    position: absolute;
    left: -400px;
    top: 150px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 300px;
    box-shadow: 10px 5px 5px black;
}

.region_magneto{
    position: absolute;
    left: -400px;
    top: 300px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 300px;
    box-shadow: 10px 5px 5px black;
}

.region_four{
    position: absolute;
    left: -400px;
    top: 450px;
    padding: 10px;
    background-color: #F0F8FF;
    width: 300px;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_1{
    position: absolute;
    left: 900px;
    top: 120px;
    width: 700px;
    height: 700px;
    background-image: url("../images/regionidf.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}
  
.backimage_region_2{
    position: absolute;
    left: 900px;
    top: 120px;
    width: 700px;
    height: 700px;
    background-image: url("../images/regionno.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_3{
    position: absolute;
    left: 900px;
    top: 120px;
    width: 700px;
    height: 700px;
    background-image: url("../images/regionne.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_4{
    position: absolute;
    left: 900px;
    top: 120px;
    width: 700px;
    height: 700px;
    background-image: url("../images/regionse.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_5{
    position: absolute;
    left: 900px;
    top: 120px;
    width: 700px;
    height: 700px;
    background-image: url("../images/regionso.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}







#mois-select {
    margin: 5px;
}


#year-select {
    margin: 5px;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 150px;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .detail_magasin{
    position: absolute;
    left: 1000px;
    top: 200px;
    width: 500px;
    background-color: #F0F8FF;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px 5px 5px black;
}












