body, html {
    margin: 0;
    font-family: sans-serif;

}

div {
    padding: 10px;
}

.backimage{
    position: absolute;
    left: 400px;
    top: 90px;
    width: 1000px;
    height: 900px;
    background-image: url("../images/france.png");
    background-size: 800px 800px;
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
}

.logo{
    position: absolute;
    text-align: center;
    left: 10px;
    top: 0px;
    width: 400px;
    height: 90px;
    background-color: #87CEFA;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.bandeau{
    position: absolute;
    left: 430px;
    top: 0px;
    width: 1300px;
    height: 90px;
    background-color: #87CEFA;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
}

.description{
    position: absolute;
    left: 430px;
    top: 110px;
    width: 1300px;
    height: 50px;
    margin: 5px;
    display: inline-block;
}

.links{
    position: absolute;
    left: 10px;
    top: 110px;
    width: 400px;
    height: 320px;
    padding: 5px;
    margin: 5px;
    background-color: #87CEFA;
    margin: 5px;
    border: 1px solid black;
}

.filtre{
    position: absolute;
    left: 10px;
    top: 450px;
    width: 400px;
    height: 420px;
    padding: 5px;
    background-color: #87CEFA;
    margin: 5px;
    border: 1px solid black;
}

.logout{
    position: absolute;
    left: 10px;
    top: 890px;
    width: 400px;
    height: 100px;
    padding: 5px;
    background-color: #87CEFA;
    margin: 5px;
    border: 1px solid black;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

td {
    text-align: center;
    padding: 5px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}


#content {
    width: 70%;
    border-style:none; 
}

section{
    width: 610px;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.perf_nat{
    position: absolute;
    left: 1050px;
    top: 790px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
    box-shadow: 10px 5px 5px black;
}


.perf_reg1{
    position: absolute;
    left: 500px;
    top: 150px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
    box-shadow: 10px 5px 5px black;
}
.perf_reg1::after {
    content: '';
    position: absolute;
    left: 100px;
    top: 150px;
    padding:  10% 10% 10% 10%;
    background: url("../images/1.jpg")no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    z-index: 10;
}


.perf_reg2{
    position: absolute;
    left: 140px;
    top: 180px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
    box-shadow: 10px 5px 5px black;
}
.perf_reg2::after {
    content: '';
    position: absolute;
    left: 300px;
    top: 170px;
    padding:  10% 10% 10% 10%;
    background: url("../images/2.jpg")no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    z-index: 10;
}


.perf_reg3{
    position: absolute;
    left: 950px;
    top: 200px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
    box-shadow: 10px 5px 5px black;
}
.perf_reg3::after {
    content: '';
    position: absolute;
    left: -200px;
    top: 150px;
    padding:  10% 10% 10% 10%;
    background: url("../images/3.jpg")no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.perf_reg4{
    position: absolute;
    left: 950px;
    top: 550px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
    box-shadow: 10px 5px 5px black;
}
.perf_reg4::after {
    content: '';
    position: absolute;
    left: -200px;
    top: 70px;
    padding:  10% 10% 10% 10%;
    background: url("../images/4.jpg")no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.perf_reg5{
    position: absolute;
    left: 140px;
    top: 600px;
    background-color: white;
    background-size: 100% 100%;
    padding: 0px;
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:250px;
    box-shadow: 10px 5px 5px black;
}
.perf_reg5::after {
    content: '';
    position: absolute;
    left: 350px;
    top: 50px;
    padding:  10% 10% 10% 10%;
    background: url("../images/5.jpg")no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.historique{
    position: absolute;
    left: 500px;
    top: 200px;
    width: 1100px;
    height: 300px;
    background-color: #F0F8FF;
    padding: 10px;
}

.details{
    position: absolute;
    left: 600px;
    top: 200px;
    width: 900px;
    background-color: #F0F8FF;
    padding: 10px;
}

.palmares{
    position: absolute;
    left: 500px;
    top: 200px;
    background-color: #F0F8FF;
    padding: 10px;
    margin: 10px;
    width: 1150px;
}

.total_magasin{
    position: absolute;
    left: -400px;
    top: 0px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 350px;
    box-shadow: 10px 5px 5px black;
}

.region_hifi{
    position: absolute;
    left: -400px;
    top: 150px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 350px;
    box-shadow: 10px 5px 5px black;
}

.region_magneto{
    position: absolute;
    left: -400px;
    top: 300px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 350px;
    box-shadow: 10px 5px 5px black;
}

.region_four{
    position: absolute;
    left: -400px;
    top: 450px;
    padding: 10px;
    background-color: #F0F8FF;
    width: 350px;
    box-shadow: 10px 5px 5px black;
}

.accueil_region{
    position: absolute;
    left: -400px;
    top: 600px;
    background-color: #F0F8FF;
    padding: 10px;
    width: 350px;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_1{
    position: absolute;
    left: 900px;
    top: 200px;
    width: 700px;
    height: 700px;
    background-image: url("../images/region1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}
  
.backimage_region_2{
    position: absolute;
    left: 900px;
    top: 200px;
    width: 700px;
    height: 700px;
    background-image: url("../images/region2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_3{
    position: absolute;
    left: 900px;
    top: 200px;
    width: 700px;
    height: 700px;
    background-image: url("../images/region3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_4{
    position: absolute;
    left: 900px;
    top: 200px;
    width: 700px;
    height: 700px;
    background-image: url("../images/region4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

.backimage_region_5{
    position: absolute;
    left: 900px;
    top: 200px;
    width: 700px;
    height: 700px;
    background-image: url("../images/region5.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}



.button {
    background-color: whitesmoke;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 16px;
    width: 150px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.detail_magasin{
    position: absolute;
    left: 1000px;
    top: 200px;
    width: 500px;
    background-color: #F0F8FF;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px 5px 5px black;
}




.popup-ain {
    position: absolute;
    left: 300px;
    top: 90px;
    width: 35px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup-ain:hover{
    background-color: rgb(192, 192, 192);
}
.popup-ain .popuptext-ain::after {
    position: absolute;
    left: 300px;
    top: 90px;
    width: 35px;
    height: 20px;
    content: "";
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup-ain .popuptext-ain {
    visibility: hidden;
    background-color: #FFEBCD;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: -600px;
    top: 0px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.popup-ain .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}




.popup-haute-savoie {
    position: absolute;
    left: 390px;
    top: 95px;
    width: 15px;
    height: 10px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup-haute-savoie:hover{
    background-color: rgb(192, 192, 192);
}
.popup-haute-savoie .popuptext-haute-savoie::after {
    position: absolute;
    left: 390px;
    top: 95px;
    width: 15px;
    height: 10px;
    content: "";
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup-haute-savoie .popuptext-haute-savoie {
    visibility: hidden;
    background-color: #FFEBCD;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: -600px;
    top: 0px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.popup-haute-savoie .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}



.popup-savoie {
    position: absolute;
    left: 390px;
    top: 160px;
    width: 25px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup-savoie:hover{
    background-color: rgb(192, 192, 192);
}
.popup-savoie .popuptext-savoie::after {
    position: absolute;
    left: 390px;
    top: 95px;
    width: 15px;
    height: 10px;
    content: "";
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup-savoie .popuptext-savoie {
    visibility: hidden;
    background-color: #FFEBCD;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: -600px;
    top: 0px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.popup-savoie .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}



.popup-isere {
    position: absolute;
    left: 320px;
    top: 180px;
    width: 25px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.popup-isere:hover{
    background-color: rgb(192, 192, 192);
}
.popup-isere .popuptext-isere::after {
    position: absolute;
    left: 390px;
    top: 95px;
    width: 15px;
    height: 10px;
    content: "";
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.popup-isere .popuptext-isere {
    visibility: hidden;
    background-color: #FFEBCD;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: -600px;
    top: 0px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.popup-isere .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}




.popup-aide .popuptext-aide {
    visibility: hidden;
    background-color: #FFEBCD;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: 700px;
    top: 300px;
    width: 400px;
    height: 400px;
    z-index: 1;
}
.popup-aide .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}




/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




.myforms {
    border: none;
    color: white;
    padding: 5px;
    margin: 7px auto;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 13px;
    width: 150px;
    height: 30px;
}

#month_select {
    padding: 0px;
}




.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    margin: 5px;
    padding: 10px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    border: 1px solid black;
  }