body, html {
    margin: 0;
    font-family: sans-serif;

}

.backimage{
    position: absolute;
    left: 600px;
    top: 100px;
    width: 1000px;
    height: 900px;
    background-image: url("../images/france.png");
    background-size: 1000px 1000px;
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
}

.logo{
    position: absolute;
    left: 10px;
    top: 0px;
    width: 400px;
    height: 90px;
    background-color: #87CEFA;
    padding: 10px;
    margin: 5px;
}

.bandeau{
    position: absolute;
    left: 600px;
    top: 0px;
    width: 1000px;
    height: 90px;
    background-color: #87CEFA;
    padding: 5px;
    margin: 5px;
}

.description{
    position: absolute;
    left: 10px;
    top: 250px;
    width: 400px;
    height: 150px;
    background-color: #87CEFA;
    padding: 10px;
    margin: 5px;
}

.links{
    position: absolute;
    left: 10px;
    top: 100px;
    width: 400px;
    height: 90px;
    padding: 5px;
    background-color: #87CEFA;
    margin: 5px;
}

.filtre{
    position: absolute;
    left: 10px;
    top: 450px;
    width: 400px;
    height: 400px;
    padding: 5px;
    background-color: #87CEFA;
    margin: 5px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

section{
    width: 610px;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



p{
    background-color: #0CC;
}

div{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

  

.perf_nat{
    position: absolute;
    left: 600px;
    top: 750px;
    background-color: white;
    background-size: 100% 100%;
    padding: 5px;
    width: 250px;
    height: 140px;
}


.perf_reg1{
    position: absolute;
    left: 400px;
    top: 0px;
    background-color: white;
    background-size: 100% 100%;
    width: 250px;
    height: 140px;
}


.perf_reg2{
    position: absolute;
    left: -100px;
    top: 100px;
    background-color: #7CFC00;
    padding: 5px;
    width: 250px;
    height: 140px;
}


.perf_reg3{
    position: absolute;
    left: 800px;
    top: 100px;
    background-color: violet;
    padding: 5px;
    width: 250px;
    height: 140px;
}

.perf_reg4{
    position: absolute;
    left: 800px;
    top: 500px;
    background-color: #FFFFF0;
    padding: 5px;
    width: 250px;
    height: 140px;
}

.perf_reg5{
    position: absolute;
    left: 00px;
    top: 500px;
    width: 250px;
    height: 140px;
    background-color: #F0F8FF;
    padding: 0px;
}

.historique{
    position: absolute;
    left: 600px;
    top: 200px;
    width: 800px;
    height: 400px;
    background-color: #F0F8FF;
    padding: 10px;
}
  
