{% extends 'base.html' %}

{% block head %}
<title>Accueil {{region_name}}</title>
{% endblock %}

{% block body %}
<div class="content">


    <div class="description">
        <h3 style="text-align: center">Résultats en région en Euros, de tous les indicateurs, pour toutes les familles de produit, pour toutes les enseignes, pour le mois de {{mois}} {{current_year}}.</h3>
    </div>


    <div class="filtre">
        <form action={{"/accueil/"~region_id}} method="POST">
        
            <label for="mois-select">Année</label>
            <select name="annee" id="mois-select">
                <option value="2020">--Choix de l'année--</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select></br>
            
            <label for="mois-select">Mois</label>
            <select name="mois" id="mois-select">
                <option value="1|janvier">--Choix du mois--</option>
                <option value="1|janvier">janvier</option>
                <option value="2|février">février</option>
                <option value="3|mars">mars</option>
                <option value="4|avril">avril</option>
                <option value="5|mai">mai</option>
                <option value="6|juin">juin</option>
            </select></br>
    
            <input type="submit" value="Envoyer" />
        </form>
    </div>



    <div class={{"backimage_region_"~region_id}}>

        <div class={{"total_magasin"}}>
            <table>
                <tr>
                    <th>Total magasin</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td>CA</td>
                        <td>{{perf_reg["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["ca_reel"]/perf_reg["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td>Ventes</td>
                        <td>{{perf_reg["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["vente_reel"]/perf_reg["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td>Marges</td>
                        <td>{{perf_reg["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["marge_reel"]/perf_reg["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"region_hifi"}}>
            <table>
                <tr>
                    <th>Hifi</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td>CA</td>
                        <td>{{perf_reg["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["ca_reel"]/perf_reg["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td>Ventes</td>
                        <td>{{perf_reg["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["vente_reel"]/perf_reg["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td>Marges</td>
                        <td>{{perf_reg["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["marge_reel"]/perf_reg["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"region_magneto"}}>
            <table>
                <tr>
                    <th>Magnétoscope</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td>CA</td>
                        <td>{{perf_reg["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["ca_reel"]/perf_reg["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td>Ventes</td>
                        <td>{{perf_reg["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["vente_reel"]/perf_reg["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td>Marges</td>
                        <td>{{perf_reg["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["marge_reel"]/perf_reg["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"region_four"}}>
            <table>
                <tr>
                    <th>Fours</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td>CA</td>
                        <td>{{perf_reg["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["ca_reel"]/perf_reg["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td>Ventes</td>
                        <td>{{perf_reg["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["vente_reel"]/perf_reg["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td>Marges</td>
                        <td>{{perf_reg["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["marge_reel"]/perf_reg["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"accueil_region"}}>
            <table>
                <tr>
                    <th>Région {{region_id}}</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td>CA</td>
                        <td>{{perf_reg["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["ca_reel"]/perf_reg["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td>Ventes</td>
                        <td>{{perf_reg["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["vente_reel"]/perf_reg["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td>Marges</td>
                        <td>{{perf_reg["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["marge_reel"]/perf_reg["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>
    </div>


    


</div>
{% endblock %}


