{% extends 'base.html' %}

{% block head %}
<title>Accueil région {{region_id}}</title>
{% endblock %}

{% block body %}
<div class="content">


    <div class="description">
        <h4 style="text-align:left">Résultats en région en Euros, de tous les indicateurs, pour toutes les familles de produit, 
            pour toutes les enseignes, pour le mois de {{mois}} {{current_year}}.</h4>
    </div>

    <div class="filtre">
        <form action={{"/accueil/"~region_id}} method="POST">

            <select style="width:150px;height:30px" name="annee" id="mois-select">
                <option value="2020">--Choix de l'année--</option>
                {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>
        
            <select style="width:150px;height:30px" name="mois" id="mois-select">
                <option value="1|janvier">--Choix du mois--</option>
                <option value="1|janvier">janvier</option>
                <option value="2|février">février</option>
                <option value="3|mars">mars</option>
                <option value="4|avril">avril</option>
                <option value="5|mai">mai</option>
                <option value="6|juin">juin</option>
                <option value="7|juillet">juillet</option>
                <option value="8|aout">aout</option>
                <option value="9|septembre">septembre</option>
                <option value="10|octobre">octobre</option>
                <option value="11|novembre">novembre</option>
                <option value="12|decembre">decembre</option>
            </select></br>
    
            <button class="button" type="submit">Rechercher</button>
        </form>
    </div>



    <div class={{"backimage_region_"~region_id}}>

        <div class={{"total_magasin"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Région {{region_id}}</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{perf_reg["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["ca_reel"]/perf_reg["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{perf_reg["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["vente_reel"]/perf_reg["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{perf_reg["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg["marge_reel"]/perf_reg["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"region_hifi"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Hifi</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{perf_reg_hifi["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg_hifi["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_hifi["ca_reel"]/perf_reg_hifi["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{perf_reg_hifi["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg_hifi["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_hifi["vente_reel"]/perf_reg_hifi["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{perf_reg_hifi["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg_hifi["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_hifi["marge_reel"]/perf_reg_hifi["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"region_magneto"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Magnétoscope</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{perf_reg_magneto["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg_magneto["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_magneto["ca_reel"]/perf_reg_magneto["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{perf_reg_magneto["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg_magneto["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_magneto["vente_reel"]/perf_reg_magneto["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{perf_reg_magneto["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg_magneto["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_magneto["marge_reel"]/perf_reg_magneto["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"region_four"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Fours</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{perf_reg_fours["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg_fours["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_fours["ca_reel"]/perf_reg_fours["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{perf_reg_fours["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg_fours["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_fours["vente_reel"]/perf_reg_fours["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{perf_reg_fours["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg_fours["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg_fours["marge_reel"]/perf_reg_fours["marge_objectif"]) }}</td>
                    </tr>
    
            </table>
        </div>

        <div class={{"accueil_region"}}>
            <table>
                <tr bgcolor="#0AF" bgcolor="#0AF">
                    <th>classement</th> <th>hifi</th> <th>magneto</th> <th>fours</th> <th>total</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{region_rank_hifi[0]}}</td>
                        <td>{{region_rank_magneto[0]}}</td>
                        <td> {{region_rank_fours[0]}}</td>
                        <td> {{ region_rank_total[0] }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{region_rank_hifi[1]}}</td>
                        <td>{{region_rank_magneto[1]}}</td>
                        <td> {{region_rank_fours[1]}}</td>
                        <td> {{region_rank_total[1]}}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{region_rank_hifi[2]}}</td>
                        <td>{{region_rank_magneto[2]}}</td>
                        <td> {{region_rank_fours[2]}}</td>
                        <td> {{region_rank_total[2]}}</td>
                    </tr>
            </table>
        </div>




        <div class="popup-haute-savoie" onclick="myFunction_haute_savoie(event)">
            <span class="popuptext-haute-savoie" id="myPopup-haute-savoie">
                <h4>Information haute savoie</h4>
                <p>CA objectif : {{perf_dep_haute_savoie[0]}}</p>
                <p>CA réel : {{perf_dep_haute_savoie[1]}}</p>
                <p>Ventes objectif : {{perf_dep_haute_savoie[2]}}</p>
                <p>Ventes objectif : {{perf_dep_haute_savoie[3]}}</p>
                <p>Marge brute objectif : {{perf_dep_haute_savoie[4]}}</p>
                <p>Marge brute réel : {{perf_dep_haute_savoie[5]}}</p>
            </span>
        </div>

        <div class="popup-savoie" onclick="myFunction_savoie(event)">
            <span class="popuptext-savoie" id="myPopup-savoie">
                <h4>Information savoie</h4>
                <p>CA objectif : {{ '{0:0.2f}'.format(perf_dep_savoie[0]) }}</p>
                <p>CA réel : {{'{0:0.2f}'.format(perf_dep_savoie[1])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_savoie[2])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_savoie[3])}}</p>
                <p>Marge brute objectif : {{'{0:0.2f}'.format(perf_dep_savoie[4])}}</p>
                <p>Marge brute réel : {{'{0:0.2f}'.format(perf_dep_savoie[5])}}</p>
            </span>
        </div>


        <div class="popup-ain" onclick="myFunction_ain(event)">
            <span class="popuptext-ain" id="myPopup-ain">
                <h4>Information Ain</h4>
                <p>CA objectif : {{ '{0:0.2f}'.format(perf_dep_ain[0]) }}</p>
                <p>CA réel : {{'{0:0.2f}'.format(perf_dep_ain[1])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_ain[2])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_ain[3])}}</p>
                <p>Marge brute objectif : {{'{0:0.2f}'.format(perf_dep_ain[4])}}</p>
                <p>Marge brute réel : {{'{0:0.2f}'.format(perf_dep_ain[5])}}</p>
            </span>
        </div>




        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </div>

</div>
{% endblock %}


