{% extends 'base.html' %}

{% block head %}
<title>Accueil</title>
{% endblock %}

{% block body %}
<div>

    <div class="description">
        <h4>Résultats en france en {{curr_rate[1]}} (taux de change : {{curr_rate[0]}}), pour les zones commerciales, 
            pour toutes les familles de produits, pour toutes les enseignes, 
            
            {% if cumul == false %}
            pour le mois de {{ mois_string }} {{annee}}
            {% else %}
            pour le cumul de janvier à {{ mois_string_cumul }} {{annee}}
            {% endif %}
        </h4>
    </div>
    
    <div class="filtre">
        <h5>Résultats mensuels :</h5>
        <form action="/accueil/0" method="POST" style="text-align:center;">

            <select 
                style="width:200px;height:30px;margin:5px" 
                name="annee" 
                id="year_select"  
                onchange="get_delta();">
                <option value="{{years[0]}}">--Choix de l'année--</option>
                {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>

            <div id="month_select"></div>
            
            <script>
                document.getElementById("year_select").addEventListener("change", get_html_months);
            </script>
            
            <select
                style="width:200px;height:30px" 
                name="devise" 
                id="currency-select">
                <option value=0>--Choix de la devise--</option>
                {% for currency in currencies %}
                <option value={{currency[0]}}>{{currency[1]}}</option>
                {% endfor %}
            </select>
    
            <button class="button" type="submit">Rechercher</button>
        </form>

        <h5>Résultats cumulés :</h5>
        <form action="/accueil/0" method="POST" style="text-align:center;">

            <select 
                style="width:200px;height:30px" 
                name="annee" 
                id="year_select_cumul">
                <option value="{{years[0]}}">--Choix de l'année--</option>
                {% for year in years[1:] %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>

            <div style="padding:0px;" id="month_select_cumul"></div>

            <script>
                document.getElementById("year_select_cumul").addEventListener("change", get_html_all_months);
            </script>
    
            <button class="button" type="submit">Rechercher</button>
        </form>

    </div>
    
    <div class="backimage">

        <div class="perf_nat">
            <table>
                <tr>
                    <th>National</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_nat["ca_obj"]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_nat["ca_reel"]) }}</td>
                        {% set ratio_nat_ca = perf_nat["ca_reel"] / perf_nat["ca_obj"] %}
                        {% if ratio_nat_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_nat_ca) }}</td>
                        {% elif ratio_nat_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_nat_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_nat_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_nat["ventes_objectif"]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_nat["vente_reel"]) }}</td>
                        {% set ratio_nat_vente = perf_nat["vente_reel"] / perf_nat["ventes_objectif"] %}
                        {% if ratio_nat_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_nat_vente) }}</td>
                        {% elif ratio_nat_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_nat_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_nat_vente) }}</td>
                        {% endif %}
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_nat["marge_objectif"]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_nat["marge_reel"]) }}</td>
                        {% set ratio_nat_marge = perf_nat["marge_reel"] / perf_nat["marge_objectif"] %}
                        {% if ratio_nat_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_nat_marge) }}</td>
                        {% elif ratio_nat_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_nat_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_nat_marge) }}</td>
                        {% endif %}
                    </tr>
            </table>
        </div>

        <div class="perf_reg1">
            <table>
                <tr>
                    <th>Région 1</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_reg1["ca_obj"]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_reg1["ca_reel"]) }}</td>
                        {% set ratio_reg1_ca = perf_reg1["ca_reel"] / perf_reg1["ca_obj"] %}
                        {% if ratio_reg1_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg1_ca) }}</td>
                        {% elif ratio_reg1_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg1_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg1_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_reg1["ventes_objectif"]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_reg1["vente_reel"]) }}</td>
                        {% set ratio_reg1_vente = perf_reg1["vente_reel"] / perf_reg1["ventes_objectif"] %}
                        {% if ratio_reg1_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg1_vente) }}</td>
                        {% elif ratio_reg1_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg1_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg1_vente) }}</td>
                        {% endif %}
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_reg1["marge_objectif"]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_reg1["marge_reel"]) }}</td>
                        {% set ratio_reg1_marge = perf_reg1["marge_reel"] / perf_reg1["marge_objectif"] %}
                        {% if ratio_reg1_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg1_marge) }}</td>
                        {% elif ratio_reg1_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg1_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg1_marge) }}</td>
                        {% endif %}
                    </tr>
            </table>
        </div>

        <div class="perf_reg2">
            <table>
                <tr>
                    <th>Région 2</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#99B4D1">CA</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg2["ca_obj"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg2["ca_reel"]) }}</td>
                    {% set ratio_reg2_ca = perf_reg2["ca_reel"] / perf_reg2["ca_obj"] %}
                    {% if ratio_reg2_ca < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg2_ca) }}</td>
                    {% elif ratio_reg2_ca > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg2_ca) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg2_ca) }}</td>
                    {% endif %}
                </tr>
                
                <tr>
                    <td bgcolor="#99B4D1">Ventes</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg2["ventes_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg2["vente_reel"]) }}</td>
                    {% set ratio_reg2_vente = perf_reg2["vente_reel"] / perf_reg2["ventes_objectif"] %}
                    {% if ratio_reg2_vente < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg2_vente) }}</td>
                    {% elif ratio_reg2_vente > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg2_vente) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg2_vente) }}</td>
                    {% endif %}
                </tr>

                <tr>
                    <td bgcolor="#99B4D1">Marges</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg2["marge_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg2["marge_reel"]) }}</td>
                    {% set ratio_reg2_marge = perf_reg2["marge_reel"] / perf_reg2["marge_objectif"] %}
                    {% if ratio_reg2_marge < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg2_marge) }}</td>
                    {% elif ratio_reg2_marge > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg2_marge) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg2_marge) }}</td>
                    {% endif %}
                </tr>
    
            </table>
        </div>

        <div class="perf_reg3">
            <table>
                <tr>
                    <th>Région 3</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#99B4D1">CA</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg3["ca_obj"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg3["ca_reel"]) }}</td>
                    {% set ratio_reg3_ca = perf_reg3["ca_reel"] / perf_reg3["ca_obj"] %}
                    {% if ratio_reg3_ca < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg3_ca) }}</td>
                    {% elif ratio_reg3_ca > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg3_ca) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg3_ca) }}</td>
                    {% endif %}
                </tr>
                
                <tr>
                    <td bgcolor="#99B4D1">Ventes</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg3["ventes_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg3["vente_reel"]) }}</td>
                    {% set ratio_reg3_vente = perf_reg3["vente_reel"] / perf_reg3["ventes_objectif"] %}
                    {% if ratio_reg3_vente < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg3_vente) }}</td>
                    {% elif ratio_reg3_vente > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg3_vente) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg3_vente) }}</td>
                    {% endif %}
                </tr>

                <tr>
                    <td bgcolor="#99B4D1">Marges</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg3["marge_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg3["marge_reel"]) }}</td>
                    {% set ratio_reg3_marge = perf_reg3["marge_reel"] / perf_reg3["marge_objectif"] %}
                    {% if ratio_reg3_marge < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg3_marge) }}</td>
                    {% elif ratio_reg3_marge > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg3_marge) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg3_marge) }}</td>
                    {% endif %}
                </tr>
    
            </table>
        </div>


        <div class="perf_reg4">
            <table>
                <tr>
                    <th>Région 4</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#99B4D1">CA</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg4["ca_obj"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg4["ca_reel"]) }}</td>
                    {% set ratio_reg4_ca = perf_reg4["ca_reel"] / perf_reg4["ca_obj"] %}
                    {% if ratio_reg4_ca < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg4_ca) }}</td>
                    {% elif ratio_reg4_ca > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg4_ca) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg4_ca) }}</td>
                    {% endif %}
                </tr>
                
                <tr>
                    <td bgcolor="#99B4D1"> Ventes</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg4["ventes_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg4["vente_reel"]) }}</td>
                    {% set ratio_reg4_vente = perf_reg4["vente_reel"] / perf_reg4["ventes_objectif"] %}
                    {% if ratio_reg4_vente < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg4_vente) }}</td>
                    {% elif ratio_reg4_vente > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg4_vente) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg4_vente) }}</td>
                    {% endif %}
                </tr>

                <tr>
                    <td bgcolor="#99B4D1">Marges</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg4["marge_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg4["marge_reel"]) }}</td>
                    {% set ratio_reg4_marge = perf_reg4["marge_reel"] / perf_reg4["marge_objectif"] %}
                    {% if ratio_reg4_marge < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg4_marge) }}</td>
                    {% elif ratio_reg4_marge > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg4_marge) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg4_marge) }}</td>
                    {% endif %}
                </tr>
    
            </table>
        </div>


        <div class="perf_reg5">
            <table>
                <tr>
                    <th>Région 5</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#99B4D1">CA</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg5["ca_obj"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg5["ca_reel"]) }}</td>
                    {% set ratio_reg5_ca = perf_reg5["ca_reel"] / perf_reg5["ca_obj"] %}
                    {% if ratio_reg5_ca < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg5_ca) }}</td>
                    {% elif ratio_reg5_ca > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg5_ca) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg5_ca) }}</td>
                    {% endif %}
                </tr>
                
                <tr>
                    <td bgcolor="#99B4D1">Ventes</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg5["ventes_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg5["vente_reel"]) }}</td>
                    {% set ratio_reg5_vente = perf_reg5["vente_reel"] / perf_reg5["ventes_objectif"] %}
                    {% if ratio_reg5_vente < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg5_vente) }}</td>
                    {% elif ratio_reg5_vente > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg5_vente) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg5_vente) }}</td>
                    {% endif %}
                </tr>

                <tr>
                    <td bgcolor="#99B4D1">Marges</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg5["marge_objectif"]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_reg5["marge_reel"]) }}</td>
                    {% set ratio_reg5_marge = perf_reg5["marge_reel"] / perf_reg5["marge_objectif"] %}
                    {% if ratio_reg5_marge < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_reg5_marge) }}</td>
                    {% elif ratio_reg5_marge > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_reg5_marge) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_reg5_marge) }}</td>
                    {% endif %}
                </tr>
    
            </table>
        </div>

    </div>

    
</div>
{% endblock %}


