{% extends 'base.html' %}

{% block head %}
<title>Accueil</title>
{% endblock %}

{% block body %}
<div>

    <div class="description">
        <h4>Résultats en france en {{curr_rate[1]}} (taux de change : {{curr_rate[0]}}), pour les zones commerciales, 
            pour toutes les familles de produits, pour toutes les enseignes, pour le mois de {{mois_string}} {{annee}}</h4>
    </div>

    
    <div class="filtre">
        <form action="/accueil" method="POST">

            <select name="annee" id="mois-select">
                <option value="2020">--Choix de l'année--</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select><br>

            <select name="mois" id="mois-select">
                <option value="1|janvier">--Choix du mois--</option>
                <option value="1|janvier">janvier</option>
                <option value="2|fevrier">février</option>
                <option value="3|mars">mars</option>
                <option value="4|avril">avril</option>
                <option value="5|mai">mai</option>
                <option value="6|juin">juin</option>
                <option value="7|juillet">juillet</option>
                <option value="8|aout">aout</option>
                <option value="9|septembre">septembre</option>
                <option value="10|octobre">octobre</option>
                <option value="11|novembre">novembre</option>
                <option value="12|decembre">decembre</option>
            </select><br>
            
            <select name="devise" id="devise-select">
                <option value=0>--Choix de la devise--</option>
                {% for currency in currencies %}
                <option value={{currency[0]}}>{{currency[1]}}</option>
                {% endfor %}
            </select>
    
            <input type="submit" value="Envoyer" />
        </form>

    </div>
    
    <div class="backimage">

        <div class="perf_nat">
            <table>
                <tr bgcolor="#0AF">
                    <th>National</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{perf_nat["ca_obj"]|round|int}}</td>
                        <td>{{perf_nat["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_nat["ca_reel"] / perf_nat["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{perf_nat["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_nat["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_nat["vente_reel"] / perf_nat["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{perf_nat["marge_objectif"]|round|int}}</td>
                        <td>{{perf_nat["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_nat["marge_reel"] / perf_nat["marge_objectif"]) }}</td>
                    </tr>
            </table>
        </div>

        <div class="perf_reg1">
            <table>
                <tr  bgcolor="#0AF">
                    <th>Région 1</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{perf_reg1["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg1["ca_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg1["ca_reel"] / perf_reg1["ca_obj"]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{perf_reg1["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg1["vente_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg1["vente_reel"] / perf_reg1["ventes_objectif"]) }}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{perf_reg1["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg1["marge_reel"]|round|int}}</td>
                        <td> {{ '{0:0.2f}'.format(perf_reg1["marge_reel"] / perf_reg1["marge_objectif"]) }}</td>
                    </tr>
            </table>
        </div>

        <div class="perf_reg2">
            <table>
                <tr bgcolor="#0AF">
                    <th>Région 2</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#0AF">CA</td>
                    <td>{{perf_reg2["ca_obj"]|round|int}}</td>
                    <td>{{perf_reg2["ca_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg2["ca_reel"] / perf_reg2["ca_obj"]) }}</td>
                </tr>
                
                <tr>
                    <td bgcolor="#0AF">Ventes</td>
                    <td>{{perf_reg2["ventes_objectif"]|round|int}}</td>
                    <td>{{perf_reg2["vente_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg2["vente_reel"] / perf_reg2["ventes_objectif"]) }}</td>
                </tr>

                <tr>
                    <td bgcolor="#0AF">Marges</td>
                    <td>{{perf_reg2["marge_objectif"]|round|int}}</td>
                    <td>{{perf_reg2["marge_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg2["marge_reel"] / perf_reg2["marge_objectif"]) }}</td>
                </tr>
    
            </table>
        </div>

        <div class="perf_reg3">
            <table>
                <tr bgcolor="#0AF">
                    <th>Région 3</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#0AF">CA</td>
                    <td>{{perf_reg3["ca_obj"]|round|int}}</td>
                    <td>{{perf_reg3["ca_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg3["ca_reel"] / perf_reg3["ca_obj"]) }}</td>
                </tr>
                
                <tr>
                    <td bgcolor="#0AF">Ventes</td>
                    <td>{{perf_reg3["ventes_objectif"]|round|int}}</td>
                    <td>{{perf_reg3["vente_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg3["vente_reel"] / perf_reg3["ventes_objectif"]) }}</td>
                </tr>

                <tr>
                    <td bgcolor="#0AF">Marges</td>
                    <td>{{perf_reg3["marge_objectif"]|round|int}}</td>
                    <td>{{perf_reg3["marge_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg3["marge_reel"] / perf_reg3["marge_objectif"]) }}</td>
                </tr>
    
            </table>
        </div>


        <div class="perf_reg4">
            <table>
                <tr bgcolor="#0AF">
                    <th>Région 4</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#0AF">CA</td>
                    <td>{{perf_reg4["ca_obj"]|round|int}}</td>
                    <td>{{perf_reg4["ca_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg4["ca_reel"] / perf_reg4["ca_obj"]) }}</td>
                </tr>
                
                <tr>
                    <td bgcolor="#0AF"> Ventes</td>
                    <td>{{perf_reg4["ventes_objectif"]|round|int}}</td>
                    <td>{{perf_reg4["vente_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg4["vente_reel"] / perf_reg4["ventes_objectif"]) }}</td>
                </tr>

                <tr>
                    <td bgcolor="#0AF">Marges</td>
                    <td>{{perf_reg4["marge_objectif"]|round|int}}</td>
                    <td>{{perf_reg4["marge_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg4["marge_reel"] / perf_reg4["marge_objectif"]) }}</td>
                </tr>
    
            </table>
        </div>


        <div class="perf_reg5">
            <table>
                <tr bgcolor="#0AF">
                    <th>Région 5</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#0AF">CA</td>
                    <td>{{perf_reg5["ca_obj"]|round|int}}</td>
                    <td>{{perf_reg5["ca_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg5["ca_reel"] / perf_reg5["ca_obj"]) }}</td>
                </tr>
                
                <tr>
                    <td bgcolor="#0AF">Ventes</td>
                    <td>{{perf_reg5["ventes_objectif"]|round|int}}</td>
                    <td>{{perf_reg5["vente_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg5["vente_reel"] / perf_reg5["ventes_objectif"]) }}</td>
                </tr>

                <tr>
                    <td bgcolor="#0AF">Marges</td>
                    <td>{{perf_reg5["marge_objectif"]|round|int}}</td>
                    <td>{{perf_reg5["marge_reel"]|round|int}}</td>
                    <td> {{ '{0:0.2f}'.format(perf_reg5["marge_reel"] / perf_reg5["marge_objectif"]) }}</td>
                </tr>
    
            </table>
        </div>

    </div>

    
</div>
{% endblock %}


