{% extends 'base.html' %}

{% block head %}
<title>Accueil {{region_name}}</title>
{% endblock %}

{% block body %}
<div class="content">


    <div class="description">
        <h3 style="text-align: center">Magasin {{mag_name}} : Résultats en région en Euros, de tous les indicateurs, pour toutes les familles de produit, pour toutes les enseignes, pour le mois de {{mois}} {{current_year}}.</h3>
    </div>


    <div class="filtre">
        <form action={{"/magasin/"~id_mag}} method="POST">
        
            <label for="mois-select">Année</label>
            <select name="annee" id="mois-select">
                <option value="2020">--Choix de l'année--</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select></br>
            
            <label for="mois-select">Mois</label>
            <select name="mois" id="mois-select">
                <option value="1|janvier">--Choix du mois--</option>
                <option value="1|janvier">janvier</option>
                <option value="2|février">février</option>
                <option value="3|mars">mars</option>
                <option value="4|avril">avril</option>
                <option value="5|mai">mai</option>
                <option value="6|juin">juin</option>
                <option value="7|juillet">juillet</option>
                <option value="8|aout">aout</option>
                <option value="9|septembre">septembre</option>
                <option value="10|octobre">octobre</option>
                <option value="11|novembre">novembre</option>
                <option value="12|decembre">decembre</option>
            </select></br>
    
            <input type="submit" value="Envoyer" />
        </form>
    </div>



    <div class="detail_magasin">

        <p>Rang national CA : {{nat_rank_ca}}</p>
        <p>Rang national ventes : {{nat_rank_vente}}</p>
        <p>Rang national marge : {{nat_rank_marge}}</p>

        <div class={{"total_magasin"}}>
            <table>
                <tr>
                    <th>Total magasin</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                        <td>CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[0]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[1]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[1] / perf_mag[0]) }}</td>
                    </tr>
                    
                    <tr>
                        <td>Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[2]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[3]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[3] / perf_mag[2]) }}</td>
                    </tr>
    
                    <tr>
                        <td>Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[4]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[5]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[5] / perf_mag[4]) }}</td>
                    </tr>
            </table>
        </div>

        <div class={{"region_hifi"}}>
            <table>
                <tr>
                    <th>Hifi</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <td>CA</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[0]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[1]) }}</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[1] / perf_mag_hifi[0]) }}</td>
            </tr>
            
            <tr>
                <td>Ventes</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[2]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[3]) }}</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[3] / perf_mag_hifi[2]) }}</td>
            </tr>

            <tr>
                <td>Marges</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[4]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[5]) }}</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[5] / perf_mag_hifi[4]) }}</td>
            </tr>
            </table>
        </div>

        <div class={{"region_magneto"}}>
            <table>
                <tr>
                    <th>Magnétoscope</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td>CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[0]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[1]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[1] / perf_mag_magneto[0]) }}</td>
                    </tr>
                    
                    <tr>
                        <td>Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[2]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[3]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[3] / perf_mag_magneto[2]) }}</td>
                    </tr>
        
                    <tr>
                        <td>Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[4]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[5]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[5] / perf_mag_magneto[4]) }}</td>
                    </tr>
            </table>
        </div>


        <div class={{"region_four"}}>
            <table>
                <tr>
                    <th>Fours</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <tr>
                    <td>CA</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[0]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[1]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[1] / perf_mag_fours[0]) }}</td>
                </tr>
                
                <tr>
                    <td>Ventes</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[2]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[3]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[3] / perf_mag_fours[2]) }}</td>
                </tr>
    
                <tr>
                    <td>Marges</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[4]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[5]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[5] / perf_mag_fours[4]) }}</td>
                </tr>
                    
    
            </table>
        </div>
    </div>


    


</div>
{% endblock %}


