{% extends 'base.html' %}

{% block head %}
<title>Accueil {{mag_name}}</title>
{% endblock %}

{% block body %}
<div class="content">


    <div class="description">
        <h4 style="text-align:left">Magasin {{mag_name}} : Résultats en région en Euros, de tous les indicateurs, 
            pour toutes les familles de produit, pour toutes les enseignes, pour le mois de {{mois}} {{current_year}}.</h4>
    </div>


    <div class="filtre">
        <form action={{"/magasin/"~id_mag}} method="POST"style="text-align:center;">
        
            <select style="width:150px;height:30px" name="annee" id="mois-select">
                <option value="2020">--Choix de l'année--</option>
                {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>
            
            <select style="width:150px;height:30px"  name="mois" id="mois-select">
                <option value="1|janvier">--Choix du mois--</option>
                <option value="1|janvier">janvier</option>
                <option value="2|février">février</option>
                <option value="3|mars">mars</option>
                <option value="4|avril">avril</option>
                <option value="5|mai">mai</option>
                <option value="6|juin">juin</option>
                <option value="7|juillet">juillet</option>
                <option value="8|aout">aout</option>
                <option value="9|septembre">septembre</option>
                <option value="10|octobre">octobre</option>
                <option value="11|novembre">novembre</option>
                <option value="12|decembre">decembre</option>
            </select></br>
    
            <button class="button" type="submit">Rechercher</button>
        </form>
    </div>



    <div class="detail_magasin">

        <div>
            <table>
                <tr bgcolor="#0AF">
                    <th>Classements</th><th>Rang</th> <th>National</th> <th>Régional</th>
                </tr>
                    <th rowspan="4" bgcolor="#0AF">CA</th>
                    <th bgcolor="#0AF">tous</th>
                    <td>{{nat_rank_ca}}</td> 
                    <td>{{reg_rank_ca}}</td>
                </tr>
                
                <tr>
                    <th bgcolor="#0AF">hifi</th>
                    <td>{{nat_rank_ca_hifi}}</td> 
                    <td>{{reg_rank_ca_hifi}}</td>
                </tr>

                <tr>
                    <th bgcolor="#0AF">magnéto</th>
                    <td>{{nat_rank_ca_magneto}}</td> 
                    <td>{{reg_rank_ca_magneto}}</td>
                </tr>

                <tr>
                    <th bgcolor="#0AF">fours</th>
                    <td>{{nat_rank_ca_fours}}</td> 
                    <td>{{reg_rank_ca_fours}}</td>
                </tr>


                </tr>
                    <th rowspan="4" bgcolor="#0AF">Ventes</th>
                    <th bgcolor="#0AF">tous</th>
                    <td>{{nat_rank_vente}}</td> 
                    <td>{{reg_rank_vente}}</td>
                </tr>
                
                <tr>
                    <th bgcolor="#0AF">hifi</th>
                    <td>{{nat_rank_vente_hifi}}</td> 
                    <td>{{reg_rank_vente_hifi}}</td>
                </tr>

                <tr>
                    <th bgcolor="#0AF">magnéto</th>
                    <td>{{nat_rank_vente_magneto}}</td> 
                    <td>{{reg_rank_vente_magneto}}</td>
                </tr>

                <tr>
                    <th bgcolor="#0AF">fours</th>
                    <td>{{nat_rank_vente_fours}}</td> 
                    <td>{{reg_rank_vente_fours}}</td>
                </tr>


                </tr>
                    <th rowspan="4" bgcolor="#0AF">Marge brute</td>
                    <th bgcolor="#0AF">tous</th>
                    <td>{{nat_rank_marge}}</td> 
                    <td>{{reg_rank_marge}}</td>
                </tr>
                
                <tr>
                    <th bgcolor="#0AF">hifi</th>
                    <td>{{nat_rank_marge_hifi}}</td> 
                    <td>{{reg_rank_marge_hifi}}</td>
                </tr>

                <tr>
                    <th bgcolor="#0AF">magnéto</th>
                    <td>{{nat_rank_marge_magneto}}</td> 
                    <td>{{reg_rank_marge_magneto}}</td>
                </tr>

                <tr>
                    <th bgcolor="#0AF">fours</th>
                    <td>{{nat_rank_marge_fours}}</td> 
                    <td>{{reg_rank_marge_fours}}</td>
                </tr>
            </table>
        </div>

        
        <div class={{"total_magasin"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Total magasin</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[0]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[1]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[1] / perf_mag[0]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[2]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[3]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[3] / perf_mag[2]) }}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[4]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[5]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[5] / perf_mag[4]) }}</td>
                    </tr>
            </table>
        </div>

        <div class={{"region_hifi"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Hifi</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <td bgcolor="#0AF">CA</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[0]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[1]) }}</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[1] / perf_mag_hifi[0]) }}</td>
            </tr>
            
            <tr>
                <td bgcolor="#0AF">Ventes</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[2]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[3]) }}</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[3] / perf_mag_hifi[2]) }}</td>
            </tr>

            <tr>
                <td bgcolor="#0AF">Marges</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[4]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[5]) }}</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[5] / perf_mag_hifi[4]) }}</td>
            </tr>
            </table>
        </div>

        <div class={{"region_magneto"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Magnétoscope</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#0AF">CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[0]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[1]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[1] / perf_mag_magneto[0]) }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#0AF">Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[2]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[3]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[3] / perf_mag_magneto[2]) }}</td>
                    </tr>
        
                    <tr>
                        <td bgcolor="#0AF">Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[4]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[5]) }}</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[5] / perf_mag_magneto[4]) }}</td>
                    </tr>
            </table>
        </div>


        <div class={{"region_four"}}>
            <table>
                <tr bgcolor="#0AF">
                    <th>Fours</th> <th>Budget</th> <th>Reel</th> <th>Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#0AF">CA</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[0]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[1]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[1] / perf_mag_fours[0]) }}</td>
                </tr>
                
                <tr>
                    <td bgcolor="#0AF">Ventes</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[2]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[3]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[3] / perf_mag_fours[2]) }}</td>
                </tr>
    
                <tr>
                    <td bgcolor="#0AF">Marges</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[4]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[5]) }}</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[5] / perf_mag_fours[4]) }}</td>
                </tr>
                    
    
            </table>
        </div>
    </div>


    


</div>
{% endblock %}


