{% extends 'base.html' %}

{% block head %}
<title>Accueil région {{region_id}}</title>
{% endblock %}

{% block body %}
<div class="content">


    <div class="description">
        <h4 style="text-align:left">Résultats en région en Euros, de tous les indicateurs, pour toutes les familles de produit, 
            pour toutes les enseignes, 

            {% if cumul == false %}
            pour le mois de {{ mois_string }} {{annee}}
            {% else %}
            pour le cumul de janvier à {{ mois_string_cumul }} {{annee}}
            {% endif %}.</h4>
    </div>

    <div class="filtre">
        <h5>Résultats mensuels :</h5>
        <form action={{"/accueil/"~region_id}} method="POST" style="text-align:center;">

            <select 
                style="width:150px;height:30px" 
                name="annee" 
                id="year_select"  
                onchange="get_delta()">
                <option value="{{years[0]}}">--Choix de l'année--</option>
                {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>

            <div id="month_select"></div>
            
            <script>
                document.getElementById("year_select").addEventListener("change", get_html_months);
            </script>
    
            <button class="button" type="submit">Rechercher</button>
        </form>

        <h5>Résultats cumulés :</h5>
        <form action={{"/accueil/"~region_id}} method="POST" style="text-align:center;">

            <select 
                style="width:150px;height:30px" 
                name="annee" 
                id="year_select_cumul">
                <option value="{{years[0]}}">--Choix de l'année--</option>
                {% for year in years[1:] %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>

            <div style="padding:0px;" id="month_select_cumul"></div>

            <script>
                document.getElementById("year_select_cumul").addEventListener("change", get_html_all_months);
            </script>
    
            <button class="button" type="submit">Rechercher</button>
        </form>

    </div>



    <div class={{"backimage_region_"~region_id}}>

        <div class={{"total_magasin"}}>
            <table>
                <tr>
                    <th>Région {{region_id}}</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{perf_reg["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg["ca_reel"]|round|int}}</td>
                        {% set ratio_ca = perf_reg["ca_reel"]/perf_reg["ca_obj"] %}
                        {% if ratio_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_ca) }}</td>
                        {% elif ratio_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{perf_reg["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg["vente_reel"]|round|int}}</td>
                        {% set ratio_vente = perf_reg["vente_reel"]/perf_reg["ventes_objectif"] %}
                        {% if ratio_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_vente) }}</td>
                        {% elif ratio_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_vente) }}</td>
                        {% endif %}
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{perf_reg["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg["marge_reel"]|round|int}}</td>
                        {% set ratio_marge = perf_reg["marge_reel"]/perf_reg["marge_objectif"] %}
                        {% if ratio_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_marge) }}</td>
                        {% elif ratio_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_marge) }}</td>
                        {% endif %}
                    </tr>
    
            </table>
        </div>

        <div class={{"region_hifi"}}>
            <table>
                <tr>
                    <th>Hifi</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{perf_reg_hifi["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg_hifi["ca_reel"]|round|int}}</td>
                        {% set ratio_hifi_ca = perf_reg_hifi["ca_reel"]/perf_reg_hifi["ca_obj"] %}
                        {% if ratio_hifi_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_hifi_ca) }}</td>
                        {% elif ratio_hifi_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_hifi_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_hifi_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{perf_reg_hifi["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg_hifi["vente_reel"]|round|int}}</td>
                        {% set ratio_hifi_vente = perf_reg_hifi["vente_reel"]/perf_reg_hifi["ventes_objectif"] %}
                        {% if ratio_hifi_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_hifi_vente) }}</td>
                        {% elif ratio_hifi_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_hifi_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_hifi_vente) }}</td>
                        {% endif %}
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{perf_reg_hifi["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg_hifi["marge_reel"]|round|int}}</td>
                        {% set ratio_hifi_marge = perf_reg_hifi["marge_reel"]/perf_reg_hifi["marge_objectif"] %}
                        {% if ratio_hifi_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_hifi_marge) }}</td>
                        {% elif ratio_hifi_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_hifi_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_hifi_marge) }}</td>
                        {% endif %}
                    </tr>
    
            </table>
        </div>

        <div class={{"region_magneto"}}>
            <table>
                <tr>
                    <th>Magnétoscope</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{perf_reg_magneto["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg_magneto["ca_reel"]|round|int}}</td>
                        {% set ratio_magneto_ca = perf_reg_magneto["ca_reel"]/perf_reg_magneto["ca_obj"] %}
                        {% if ratio_magneto_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_magneto_ca) }}</td>
                        {% elif ratio_magneto_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_magneto_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_magneto_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{perf_reg_magneto["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg_magneto["vente_reel"]|round|int}}</td>
                        {% set ratio_magneto_vente = perf_reg_magneto["vente_reel"]/perf_reg_magneto["ventes_objectif"] %}
                        {% if ratio_magneto_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_magneto_vente) }}</td>
                        {% elif ratio_magneto_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_magneto_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_magneto_vente) }}</td>
                        {% endif %}
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{perf_reg_magneto["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg_magneto["marge_reel"]|round|int}}</td>
                        {% set ratio_magneto_marge = perf_reg_magneto["marge_reel"]/perf_reg_magneto["marge_objectif"] %}
                        {% if ratio_magneto_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_magneto_marge) }}</td>
                        {% elif ratio_magneto_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_magneto_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_magneto_marge) }}</td>
                        {% endif %}
                    </tr>
    
            </table>
        </div>

        <div class={{"region_four"}}>
            <table>
                <tr>
                    <th>Fours</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{perf_reg_fours["ca_obj"]|round|int}}</td>
                        <td>{{perf_reg_fours["ca_reel"]|round|int}}</td>
                        {% set ratio_fours_ca = perf_reg_fours["ca_reel"]/perf_reg_fours["ca_obj"] %}
                        {% if ratio_fours_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_fours_ca) }}</td>
                        {% elif ratio_fours_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_fours_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_fours_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{perf_reg_fours["ventes_objectif"]|round|int}}</td>
                        <td>{{perf_reg_fours["vente_reel"]|round|int}}</td>
                        {% set ratio_fours_vente = perf_reg_fours["vente_reel"]/perf_reg_fours["ventes_objectif"] %}
                        {% if ratio_fours_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_fours_vente) }}</td>
                        {% elif ratio_fours_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_fours_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_fours_vente) }}</td>
                        {% endif %}
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{perf_reg_fours["marge_objectif"]|round|int}}</td>
                        <td>{{perf_reg_fours["marge_reel"]|round|int}}</td>
                        {% set ratio_fours_marge = perf_reg_fours["marge_reel"]/perf_reg_fours["marge_objectif"] %}
                        {% if ratio_fours_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_fours_marge) }}</td>
                        {% elif ratio_fours_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_fours_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_fours_marge) }}</td>
                        {% endif %}
                    </tr>
    
            </table>
        </div>

        <div class={{"accueil_region"}}>
            <table>
                <tr>
                    <th>Classement</th> <th bgcolor="#99B4D1">hifi</th> <th bgcolor="#99B4D1">magneto</th> <th bgcolor="#99B4D1">fours</th> <th bgcolor="#99B4D1">total</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{region_rank_hifi[0]}}</td>
                        <td>{{region_rank_magneto[0]}}</td>
                        <td> {{region_rank_fours[0]}}</td>
                        <td> {{ region_rank_total[0] }}</td>
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{region_rank_hifi[1]}}</td>
                        <td>{{region_rank_magneto[1]}}</td>
                        <td> {{region_rank_fours[1]}}</td>
                        <td> {{region_rank_total[1]}}</td>
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{region_rank_hifi[2]}}</td>
                        <td>{{region_rank_magneto[2]}}</td>
                        <td> {{region_rank_fours[2]}}</td>
                        <td> {{region_rank_total[2]}}</td>
                    </tr>
            </table>
        </div>




        <div class="popup-haute-savoie" onclick="myFunction_haute_savoie(event)">
            <span class="popuptext-haute-savoie" id="myPopup-haute-savoie">
                <h4>Information Haute Savoie</h4>
                <p>CA objectif : {{perf_dep_haute_savoie[0]}}</p>
                <p>CA réel : {{perf_dep_haute_savoie[1]}}</p>
                <p>Ventes objectif : {{perf_dep_haute_savoie[2]}}</p>
                <p>Ventes objectif : {{perf_dep_haute_savoie[3]}}</p>
                <p>Marge brute objectif : {{perf_dep_haute_savoie[4]}}</p>
                <p>Marge brute réel : {{perf_dep_haute_savoie[5]}}</p>
            </span>
        </div>

        <div class="popup-savoie" onclick="myFunction_savoie(event)">
            <span class="popuptext-savoie" id="myPopup-savoie">
                <h4>Information Savoie</h4>
                <p>CA objectif : {{ '{0:0.2f}'.format(perf_dep_savoie[0]) }}</p>
                <p>CA réel : {{'{0:0.2f}'.format(perf_dep_savoie[1])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_savoie[2])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_savoie[3])}}</p>
                <p>Marge brute objectif : {{'{0:0.2f}'.format(perf_dep_savoie[4])}}</p>
                <p>Marge brute réel : {{'{0:0.2f}'.format(perf_dep_savoie[5])}}</p>
            </span>
        </div>


        <div class="popup-ain" onclick="myFunction_ain(event)">
            <span class="popuptext-ain" id="myPopup-ain">
                <h4>Information Ain</h4>
                <p>CA objectif : {{ '{0:0.2f}'.format(perf_dep_ain[0]) }}</p>
                <p>CA réel : {{'{0:0.2f}'.format(perf_dep_ain[1])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_ain[2])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_ain[3])}}</p>
                <p>Marge brute objectif : {{'{0:0.2f}'.format(perf_dep_ain[4])}}</p>
                <p>Marge brute réel : {{'{0:0.2f}'.format(perf_dep_ain[5])}}</p>
            </span>
        </div>


        <div class="popup-isere" onclick="myFunction_isere(event)">
            <span class="popuptext-isere" id="myPopup-isere">
                <h4>Information Isère</h4>
                <p>CA objectif : {{ '{0:0.2f}'.format(perf_dep_isere[0]) }}</p>
                <p>CA réel : {{'{0:0.2f}'.format(perf_dep_isere[1])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_isere[2])}}</p>
                <p>Ventes objectif : {{'{0:0.2f}'.format(perf_dep_isere[3])}}</p>
                <p>Marge brute objectif : {{'{0:0.2f}'.format(perf_dep_isere[4])}}</p>
                <p>Marge brute réel : {{'{0:0.2f}'.format(perf_dep_isere[5])}}</p>
            </span>
        </div>




        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </div>

</div>
{% endblock %}


