{% extends 'base.html' %}

{% block head %}
<title>Accueil {{mag_name}}</title>
{% endblock %}

{% block body %}
<div class="content">


    <div class="description">
        <h4 style="text-align:left">Magasin {{mag_name}} : Résultats en région en Euros, de tous les indicateurs, 
            pour toutes les familles de produit, pour toutes les enseignes,  

            {% if cumul == false %}
            pour le mois de {{ mois_string }} {{annee}}
            {% else %}
            pour le cumul de janvier à {{ mois_string_cumul }} {{annee}}
            {% endif %}.</h4>
    </div>


    <div class="filtre">
        <h5>Résultats mensuels :</h5>
        <form action={{"/magasin/"~id_mag}} method="POST"style="text-align:center;">

            <select style="width:150px;height:30px" name="annee" id="year_select"  onchange="get_delta()">
                <option value="{{years[0]}}">--Choix de l'année--</option>
                {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>

            <div id="month_select"></div>
            
            <script>
                document.getElementById("year_select").addEventListener("change", get_html_months);
            </script>
    
            <button class="button" type="submit">Rechercher</button>
        </form>

        <h5>Résultats cumulés :</h5>
        <form action={{"/magasin/"~id_mag}} method="POST" style="text-align:center;">

            <select 
                style="width:150px;height:30px" 
                name="annee" 
                id="year_select_cumul">
                <option value="{{years[0]}}">--Choix de l'année--</option>
                {% for year in years[1:] %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select></br>

            <div style="padding:0px;" id="month_select_cumul"></div>

            <script>
                document.getElementById("year_select_cumul").addEventListener("change", get_html_all_months);
            </script>
    
            <button class="button" type="submit">Rechercher</button>
        </form>


    </div>



    <div class="detail_magasin">

        <div>
            <table>
                <tr bgcolor="#99B4D1">
                    <th>Classements</th><th>Rang</th> <th>National</th> <th>Régional</th>
                </tr>
                    <th rowspan="4" bgcolor="#99B4D1">CA</th>
                    <th bgcolor="#99B4D1">tous</th>
                    <td>{{nat_rank_ca}}</td> 
                    <td>{{reg_rank_ca}}</td>
                </tr>
                
                <tr>
                    <th bgcolor="#99B4D1">hifi</th>
                    <td>{{nat_rank_ca_hifi}}</td> 
                    <td>{{reg_rank_ca_hifi}}</td>
                </tr>

                <tr>
                    <th bgcolor="#99B4D1">magnéto</th>
                    <td>{{nat_rank_ca_magneto}}</td> 
                    <td>{{reg_rank_ca_magneto}}</td>
                </tr>

                <tr>
                    <th bgcolor="#99B4D1">fours</th>
                    <td>{{nat_rank_ca_fours}}</td> 
                    <td>{{reg_rank_ca_fours}}</td>
                </tr>


                </tr>
                    <th rowspan="4" bgcolor="#99B4D1">Ventes</th>
                    <th bgcolor="#99B4D1">tous</th>
                    <td>{{nat_rank_vente}}</td> 
                    <td>{{reg_rank_vente}}</td>
                </tr>
                
                <tr>
                    <th bgcolor="#99B4D1">hifi</th>
                    <td>{{nat_rank_vente_hifi}}</td> 
                    <td>{{reg_rank_vente_hifi}}</td>
                </tr>

                <tr>
                    <th bgcolor="#99B4D1">magnéto</th>
                    <td>{{nat_rank_vente_magneto}}</td> 
                    <td>{{reg_rank_vente_magneto}}</td>
                </tr>

                <tr>
                    <th bgcolor="#99B4D1">fours</th>
                    <td>{{nat_rank_vente_fours}}</td> 
                    <td>{{reg_rank_vente_fours}}</td>
                </tr>


                </tr>
                    <th rowspan="4" bgcolor="#99B4D1">Marge brute</td>
                    <th bgcolor="#99B4D1">tous</th>
                    <td>{{nat_rank_marge}}</td> 
                    <td>{{reg_rank_marge}}</td>
                </tr>
                
                <tr>
                    <th bgcolor="#99B4D1">hifi</th>
                    <td>{{nat_rank_marge_hifi}}</td> 
                    <td>{{reg_rank_marge_hifi}}</td>
                </tr>

                <tr>
                    <th bgcolor="#99B4D1">magnéto</th>
                    <td>{{nat_rank_marge_magneto}}</td> 
                    <td>{{reg_rank_marge_magneto}}</td>
                </tr>

                <tr>
                    <th bgcolor="#99B4D1">fours</th>
                    <td>{{nat_rank_marge_fours}}</td> 
                    <td>{{reg_rank_marge_fours}}</td>
                </tr>
            </table>
        </div>

        
        <div class={{"total_magasin"}}>
            <table>
                <tr>
                    <th>Total magasin</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[0]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[1]) }}</td>
                        {% set ratio_ca = perf_mag[1] / perf_mag[0] %}
                        {% if ratio_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_ca) }}</td>
                        {% elif ratio_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[2]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[3]) }}</td>
                        {% set ratio_vente = perf_mag[3] / perf_mag[2] %}
                        {% if ratio_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_vente) }}</td>
                        {% elif ratio_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_vente) }}</td>
                        {% endif %}
                    </tr>
    
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag[4]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag[5]) }}</td>
                        {% set ratio_marge = perf_mag[5] / perf_mag[4] %}
                        {% if ratio_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_marge) }}</td>
                        {% elif ratio_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_marge) }}</td>
                        {% endif %}
                    </tr>
            </table>
        </div>

        <div class={{"region_hifi"}}>
            <table>
                <tr>
                    <th>Hifi</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                <td bgcolor="#99B4D1">CA</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[0]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[1]) }}</td>
                {% set ratio_hifi_ca = perf_mag_hifi[1] / perf_mag_hifi[0] %}
                {% if ratio_hifi_ca < 1 %} 
                    <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_hifi_ca) }}</td>
                {% elif ratio_hifi_ca > 1 %} 
                    <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_hifi_ca) }}</td>
                {% else %} 
                    <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_hifi_ca) }}</td>
                {% endif %}
            </tr>
            
            <tr>
                <td bgcolor="#99B4D1">Ventes</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[2]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[3]) }}</td>
                {% set ratio_hifi_vente = perf_mag_hifi[3] / perf_mag_hifi[2] %}
                {% if ratio_hifi_vente < 1 %} 
                    <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_hifi_vente) }}</td>
                {% elif ratio_hifi_vente > 1 %} 
                    <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_hifi_vente) }}</td>
                {% else %} 
                    <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_hifi_vente) }}</td>
                {% endif %}
            </tr>

            <tr>
                <td bgcolor="#99B4D1">Marges</td>
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[4]) }}</td> 
                <td>{{ '{0:0.2f}'.format(perf_mag_hifi[5]) }}</td>
                {% set ratio_hifi_marge = perf_mag_hifi[5] / perf_mag_hifi[4] %}
                {% if ratio_hifi_marge < 1 %} 
                    <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_hifi_marge) }}</td>
                {% elif ratio_hifi_marge > 1 %} 
                    <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_hifi_marge) }}</td>
                {% else %} 
                    <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_hifi_marge) }}</td>
                {% endif %}
            </tr>
            </table>
        </div>

        <div class={{"region_magneto"}}>
            <table>
                <tr>
                    <th>Magnétoscope</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                    <tr>
                        <td bgcolor="#99B4D1">CA</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[0]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[1]) }}</td>
                        {% set ratio_magneto_ca = perf_mag_magneto[1] / perf_mag_magneto[0] %}
                        {% if ratio_magneto_ca < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_magneto_ca) }}</td>
                        {% elif ratio_magneto_ca > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_magneto_ca) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_magneto_ca) }}</td>
                        {% endif %}
                    </tr>
                    
                    <tr>
                        <td bgcolor="#99B4D1">Ventes</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[2]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[3]) }}</td>
                        {% set ratio_magneto_vente = perf_mag_magneto[3] / perf_mag_magneto[2] %}
                        {% if ratio_magneto_vente < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_magneto_vente) }}</td>
                        {% elif ratio_magneto_vente > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_magneto_vente) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_magneto_vente) }}</td>
                        {% endif %}
                    </tr>
        
                    <tr>
                        <td bgcolor="#99B4D1">Marges</td>
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[4]) }}</td> 
                        <td>{{ '{0:0.2f}'.format(perf_mag_magneto[5]) }}</td>
                        {% set ratio_magneto_marge = perf_mag_magneto[5] / perf_mag_magneto[4] %}
                        {% if ratio_magneto_marge < 1 %} 
                            <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_magneto_marge) }}</td>
                        {% elif ratio_magneto_marge > 1 %} 
                            <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_magneto_marge) }}</td>
                        {% else %} 
                            <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_magneto_marge) }}</td>
                        {% endif %}
                    </tr>
            </table>
        </div>


        <div class={{"region_four"}}>
            <table>
                <tr>
                    <th>Fours</th> <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> <th bgcolor="#99B4D1">Ratio</th>
                </tr>
                <tr>
                    <td bgcolor="#99B4D1">CA</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[0]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[1]) }}</td>
                    {% set ratio_fours_ca = perf_mag_fours[1] / perf_mag_fours[0] %}
                    {% if ratio_fours_ca < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_fours_ca) }}</td>
                    {% elif ratio_fours_ca > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_fours_ca) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_fours_ca) }}</td>
                    {% endif %}
                </tr>
                
                <tr>
                    <td bgcolor="#99B4D1">Ventes</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[2]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[3]) }}</td>
                    {% set ratio_fours_vente = perf_mag_fours[3] / perf_mag_fours[2] %}
                    {% if ratio_fours_vente < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_fours_vente) }}</td>
                    {% elif ratio_fours_vente > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_fours_vente) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_fours_vente) }}</td>
                    {% endif %}
                </tr>
    
                <tr>
                    <td bgcolor="#99B4D1">Marges</td>
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[4]) }}</td> 
                    <td>{{ '{0:0.2f}'.format(perf_mag_fours[5]) }}</td>
                    {% set ratio_fours_marge = perf_mag_fours[5] / perf_mag_fours[4] %}
                    {% if ratio_fours_marge < 1 %} 
                        <td bgcolor="red"> {{ '{0:0.2f}'.format(ratio_fours_marge) }}</td>
                    {% elif ratio_fours_marge > 1 %} 
                        <td bgcolor="green"> {{ '{0:0.2f}'.format(ratio_fours_marge) }}</td>
                    {% else %} 
                        <td bgcolor="yellow"> {{ '{0:0.2f}'.format(ratio_fours_marge) }}</td>
                    {% endif %}
                </tr>
                    
    
            </table>
        </div>
    </div>


    


</div>
{% endblock %}


