<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/script_time.js') }}"></script>
    <script src="{{ url_for('static', filename='js/export.js') }}"></script>
    <script src="{{ url_for('static', filename='js/html2pdf.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body id="myCanvas">

    <div class="logo">
        <img src="/static/images/logo.png" width="90" height="90">
    </div>


    <div class="bandeau">
        <div style="width: 75%;  float: left; text-align:center;"> 
            <h4 >TABLEAU DE BORD DARTIES</h4>
            <p>User : {{ nom }} {{ prenom }}</p>
        </div>
        
        <div style="margin-left: 25%;" id="load_date">
            <script>
                var element = document.getElementById("load_date");
                
                var load_date = new Date(2021, 2);
                load_date = get_load_date(2021, 2)
                var today_date_display = load_date.getFullYear()+'-'+(load_date.getMonth()+1)+'-'+load_date.getDate();
                var tag1 = document.createElement("p");
                var text = document.createTextNode("Mise à jour : " + today_date_display);
                tag1.appendChild(text);

                const today = new Date();
                var today_date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var tag2 = document.createElement("p");
                var text = document.createTextNode("Date du jour : " + today_date);
                tag2.appendChild(text);

                element.appendChild(tag1);
                element.appendChild(tag2);
             </script>
        </div>
    </div>

    <div class="links btn-group">
        {% if current_user.is_authenticated %}

            {% if current_user.id_profil == 1 %}
                <div style="text-align:center;">
                    <button 
                        {% if location == 'accueil' %} style="border: 2px solid blue;" {% endif %} 
                        class="button" 
                        onclick="location.href='/accueil';">
                        Accueil
                    </button>
                    <button 
                        {% if location == 'historique' %} style="border: 2px solid blue;" {% endif %} 
                        class="button" 
                        onclick="location.href='/historique';">
                        Historique
                    </button>
                    <button 
                        {% if location == 'details' %} style="border: 2px solid blue;" {% endif %} 
                        class="button" 
                        onclick="location.href='/details';">
                        Détails
                    </button>
                    <button 
                        {% if location == 'palmares' %} style="border: 2px solid blue;" {% endif %} 
                        class="button" 
                        onclick="location.href='/palmares';">
                        Palmares
                    </button>
                </div>


                <form>
                    <select
                        class="myforms" 
                        {% if location == 'accueil_region' %} style="border: 2px solid blue;" {% endif %}
                        name="region" 
                        id="accueil-region-select" 
                        onchange="location.href='/accueil/'+form.region.value;">
                        <option value={{id_reg}}>--choix de la région--</option>
                        {% for id_reg in range(1, 6) %}
                            <option value={{id_reg}}>région {{id_reg}}</option>
                        {% endfor %}
                    </select>
                </form>

                <form>
                    <select 
                        class="myforms" 
                        {% if location == 'magasin' %} style="border: 2px solid blue;" {% endif %}
                        style="width:200px;height:30px" 
                        name="magasin" 
                        id="magasin-select" 
                        onchange="location.href='/magasin/'+form.magasin.value;">
                        <option value={{id_reg}}>--choix du magasin--</option>
                        {% for mag in magasins %}
                        <option value={{mag[0]}}>{{mag[1]}}</option>
                        {% endfor %}
                    </select>
                </form>
            {% endif %}


            {% for id_reg in range(1, 6) %}
                {% if current_user.id_region == id_reg %}
                    <button 
                        {% if location == 'accueil_region' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/accueil/{{id_reg}}';">Accueil région {{id_reg}}
                    </button>

                    <button 
                        {% if location == 'historique_reg' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/historique/{{id_reg}}';">Historique région {{id_reg}}
                    </button>

                    <button 
                        {% if location == 'details_reg' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/details/{{id_reg}}';">Détails région {{id_reg}}
                    </button>

                    <button 
                        {% if location == 'palmares_reg' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/palmares/{{id_reg}}';">Palmares région {{id_reg}}
                    </button>

                    <form style="text-align:center;">
                        <select 
                            {% if location == 'magasin' %} style="border: 2px solid blue;height: 30px;width:200px" {% endif %}
                            style="width:200px;height:30px" 
                            name="magasin" 
                            id="magasin-select" 
                            onchange="location.href='/magasin/'+form.magasin.value;">
                            <option value={{id_reg}}>--choix du magasin--</option>
                            {% for mag in magasins %}
                            <option value={{mag[0]}}>{{mag[1]}}</option>
                            {% endfor %}
                        </select>
                    </form style="text-align:center;">
                {% endif %}
            {% endfor %}


            {% for id_mag in range(1, 200) %}
                {% if current_user.id_magasin == id_mag %}
                    <button 
                        {% if location == 'magasin' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/magasin/{{id_mag}}';">Accueil magasin {{id_mag}}
                    </button>

                    <button 
                        {% if location == 'historique_mag' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/historique_mag/{{id_mag}}';">Historique magasin {{id_mag}}
                    </button>

                    <button 
                        {% if location == 'details_mag' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/details_mag/{{id_mag}}';">Détails magasin {{id_mag}}
                    </button>

                    <button 
                        {% if location == 'palmares_mag' %} style="border: 2px solid blue;" {% endif %}
                        class="button" 
                        onclick="location.href='/palmares_mag/{{id_mag}}';">Palmares magasin {{id_mag}}
                    </button>

                    
                {% endif %}
            {% endfor %}



            

        {% endif %}

    </div>

    <div class="logout" style="text-align:center;">

        <button 
        onclick="location.href='{{ url_for('main_init.index') }}';"
            class="btn" 
            style="background-image:url('../static/images/home.png');">
        <i class="fa"></i></button>

        <button 
            class="btn" 
            style="background-image:url('../static/images/mail.png');">
        <i class="fa"></i></button>

        <button 
            onclick="myFunction_aide(event)"
            class="btn" 
            style="background-image:url('../static/images/aide.png');">
        <i class="fa"></i></button>

        <button 
            onclick="location.href='{{ url_for('auth.logout') }}';"
            class="btn" 
            style="background-image:url('../static/images/logout.png');">
        <i class="fa"></i></button><br>

        <button 
            onclick="var element = document.getElementById('myCanvas');html2pdf(element);"
            class="btn" 
            style="background-image:url('../static/images/export_pdf.png');">  
        <i class="fa"></i></button>

        {% if location == 'historique' %} 
            <button 
                onclick="exportTableToExcel('historique_table')"
                class="btn" 
                style="background-image:url('../static/images/export_xls.png');">
            <i class="fa"></i></button>
        {% elif location == 'palmares' %}
            <button 
                onclick="exportTableToExcel('palmares_table')"
                class="btn" 
                style="background-image:url('../static/images/export_xls.png');">
            <i class="fa"></i></button>
        {% elif location == 'details' %}
            <button 
                onclick="exportTableToExcel('details_table')"
                class="btn" 
                style="background-image:url('../static/images/export_xls.png');">
            <i class="fa"></i></button>
        {% endif %} 

        <button 
            class="btn" 
            style="background-image:url('../static/images/impression.png');">
        <i class="fa"></i></button>

        <button 
            class="btn" 
            style="background-image:url('../static/images/recherche.png');">
        <i class="fa"></i></button>

        


    </div>


    <div class="popup-aide">
        <span class="popuptext-aide" id="myPopup_aide">
            <h4>aide {{location}}</h4>
            {% if location == 'accueil' %} 
                <p>accueil</p>
            {% elif location == 'historique' %} 
                <p>historique</p>
            {% elif location == 'palmares' %}
                <p>palmares</p>
            {% elif location == 'details' %}
                <p>details</p>
            {% elif location == 'magasin' %}
                <p>magasin</p>
            {% elif location == 'accueil_region' %}
                <p>region</p>
            {% endif %} 
        </span>
    </div>


    
    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
