{% extends 'base.html' %}

{% block head %}
<title>Accueil</title>
{% endblock %}

{% block body %}
<div class="content">

    <ul>
        <li><a href="/accueil">Accueil</a></li>
        <li><a href="/historique">Historique</a></li>
        <li><a href="/details">Détails</a></li>
        <li><a href="/palmares">Palmares</a></li>
      </ul>

    <h3 style="text-align: center">Détails en France en Euros, de tous les indicateurs pour le mois de {{mois}} {{current_year}} </h3>
    <table>
        <tr>
            <th></th>
            <th colspan="3"> CA </th>
            <th colspan="3"> Ventes </th>
            <th colspan="3"> Marge </th>
        </tr>

        <tr>
            <th></th>
            <th>Budget</th><th>Reel</th><th>Ecart</th>
            <th>Budget</th><th>Reel</th><th>Ecart</th>
            <th>Budget</th><th>Reel</th><th>Ecart</th>
        </tr>
            
            <tr>
                <th>Hi-fi</th>

                <td> {{ '{0:0.2f}'.format(hifi_kpi["ca_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_kpi["ca_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_kpi["ca_reel"]-hifi_kpi["ca_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(hifi_kpi["ventes_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_kpi["vente_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_kpi["vente_reel"]-hifi_kpi["ventes_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(hifi_kpi["marge_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_kpi["marge_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_kpi["marge_reel"]-hifi_kpi["marge_objectif"]) }}</td>
            </tr>

            <tr>
                <th>Fours</th>

                <td> {{ '{0:0.2f}'.format(fours_kpi["ca_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["ca_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["ca_reel"]-fours_kpi["ca_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(fours_kpi["ventes_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["vente_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["vente_reel"]-fours_kpi["ventes_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(fours_kpi["marge_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["marge_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["marge_reel"]-fours_kpi["marge_objectif"]) }}</td>

            </tr>

            <tr>
                <th>Magnétoscopes</th>

                <td> {{ '{0:0.2f}'.format(magneto_kpi["ca_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["ca_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["ca_reel"]-magneto_kpi["ca_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(magneto_kpi["ventes_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["vente_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["vente_reel"]-magneto_kpi["ventes_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(magneto_kpi["marge_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["marge_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["marge_reel"]-magneto_kpi["marge_objectif"]) }}</td>
            </tr>

            <tr>
                <th>Total</th>

                {% set total_ca_objectif = hifi_kpi["ca_objectif"]+fours_kpi["ca_objectif"]+magneto_kpi["ca_objectif"] %}
                {% set total_ca_reel = hifi_kpi["ca_reel"]+fours_kpi["ca_reel"]+magneto_kpi["ca_reel"] %}
                <td> {{ '{0:0.2f}'.format(total_ca_objectif) }}</td>
                <td> {{ '{0:0.2f}'.format(total_ca_reel) }}</td>
                <td> {{ '{0:0.2f}'.format(total_ca_reel-total_ca_objectif) }}</td>

                {% set total_ventes_objectif = hifi_kpi["ventes_objectif"]+fours_kpi["ventes_objectif"]+magneto_kpi["ventes_objectif"] %}
                {% set total_ventes_reel = hifi_kpi["vente_reel"]+fours_kpi["vente_reel"]+magneto_kpi["vente_reel"] %}
                <td> {{ '{0:0.2f}'.format(total_ventes_objectif) }}</td>
                <td> {{ '{0:0.2f}'.format(total_ventes_reel) }}</td>
                <td> {{ '{0:0.2f}'.format(total_ventes_reel-total_ventes_objectif) }}</td>

                {% set total_marge_objectif = hifi_kpi["marge_objectif"]+fours_kpi["marge_objectif"]+magneto_kpi["marge_objectif"] %}
                {% set total_marge_reel = hifi_kpi["marge_reel"]+fours_kpi["marge_reel"]+magneto_kpi["marge_reel"] %}
                <td> {{ '{0:0.2f}'.format(total_marge_objectif) }}</td>
                <td> {{ '{0:0.2f}'.format(total_marge_reel) }}</td>
                <td> {{ '{0:0.2f}'.format(total_marge_reel-total_marge_objectif) }}</td>
            </tr>

            <tr>
                <th>Poids Hifi réel</th>

                <td  colspan="3"> {{ '{0:0.2f}'.format(hifi_kpi["ca_reel"] / total_ca_objectif * 100) }}%</td>
                <td  colspan="3"> {{ '{0:0.2f}'.format(hifi_kpi["vente_reel"] / total_ventes_objectif * 100) }}%</td>
                <td  colspan="3"> {{ '{0:0.2f}'.format(hifi_kpi["marge_reel"] / total_marge_reel * 100) }}%</td>
            </tr>

            <tr>
                <th>Poids Four réel</th>

                <td  colspan="3"> {{ '{0:0.2f}'.format(fours_kpi["ca_reel"] / total_ca_objectif * 100) }}%</td>
                <td  colspan="3"> {{ '{0:0.2f}'.format(fours_kpi["vente_reel"] / total_ventes_objectif * 100) }}%</td>
                <td  colspan="3"> {{ '{0:0.2f}'.format(fours_kpi["marge_reel"] / total_marge_reel * 100) }}%</td>
            </tr>

            <tr>
                <th>Poids Magnétoscope réel</th>

                <td  colspan="3"> {{ '{0:0.2f}'.format(magneto_kpi["ca_reel"] / total_ca_objectif * 100) }}%</td>
                <td  colspan="3"> {{ '{0:0.2f}'.format(magneto_kpi["vente_reel"] / total_ventes_objectif * 100) }}%</td>
                <td  colspan="3"> {{ '{0:0.2f}'.format(magneto_kpi["marge_reel"] / total_marge_reel * 100) }}%</td>
            </tr>

    </table>




    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}


