{% extends 'base.html' %}

{% block head %}
<title>Accueil</title>
{% endblock %}

{% block body %}
<div class="content">

    <ul>
        <li><a href="/accueil">Accueil</a></li>
        <li><a href="/historique">Historique</a></li>
        <li><a href="/details">Détails</a></li>
        <li><a href="/palmares">Palmares</a></li>
      </ul>

    <h3 style="text-align: center">Détails en France en Euros, de tous les indicateurs pour le mois de {{mois}} {{current_year}} </h3>
    <table>
        <tr>
            <th></th>
            <th colspan="3"> CA </th>
            <th colspan="3"> Ventes </th>
            <th colspan="3"> Marge </th>
        </tr>

        <tr>
            <th></th>
            <th>Budget</th><th>Reel</th><th>Ecart</th>
            <th>Budget</th><th>Reel</th><th>Ecart</th>
            <th>Budget</th><th>Reel</th><th>Ecart</th>
        </tr>
            
            <tr>
                <td>Hi-fi</td>

                <td> {{ '{0:0.2f}'.format(hifi_ca_obj) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_ca_reel) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_ca_reel-hifi_ca_obj) }}</td>

                <td> {{ '{0:0.2f}'.format(hifi_ventes_obj) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_ventes_reel) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_ventes_reel-hifi_ventes_obj) }}</td>

                <td> {{ '{0:0.2f}'.format(hifi_marge_obj) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_marge_reel) }}</td>
                <td> {{ '{0:0.2f}'.format(hifi_marge_obj-hifi_marge_reel) }}</td>

            </tr>

            <tr>
                <td>Fours</td>

                <td> {{ '{0:0.2f}'.format(fours_kpi["ca_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["ca_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["ca_reel"]-fours_kpi["ca_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(fours_kpi["ventes_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["vente_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["vente_reel"]-fours_kpi["ventes_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(fours_kpi["marge_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["marge_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(fours_kpi["marge_reel"]-fours_kpi["marge_objectif"]) }}</td>

            </tr>

            <tr>
                <td>Magnétoscopes</td>

                <td> {{ '{0:0.2f}'.format(magneto_kpi["ca_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["ca_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["ca_reel"]-magneto_kpi["ca_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(magneto_kpi["ventes_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["vente_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["vente_reel"]-magneto_kpi["ventes_objectif"]) }}</td>

                <td> {{ '{0:0.2f}'.format(magneto_kpi["marge_objectif"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["marge_reel"]) }}</td>
                <td> {{ '{0:0.2f}'.format(magneto_kpi["marge_reel"]-magneto_kpi["marge_objectif"]) }}</td>

            </tr>
            


    </table>




    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}


