{% extends 'base.html' %}

{% block head %}
<title>Historique</title>
{% endblock %}

{% block body %}
<div class="content">


    <div class="description">
        <h4>Résultats en france en Euros, pour les zones commerciales, pour toutes les familles de produits, 
            pour toutes les enseignes, pour le mois de {{mois_string}} {{annee}}, pour la région {{ region_id }}</h4>
    </div>


    <div class="filtre">
        <form action={{ "/historique/" ~ region_id if region_id else 0 }} method="POST" style="text-align:center;">
            
            <select style="width:200px;height:30px" name="mois" id="mois-select">
                <option value="2|fevrier">--Choix du mois--</option>
                <option value="2|fevrier">février{{region_id}}</option>
                <option value="3|mars">mars</option>
                <option value="4|avril">avril</option>
                <option value="5|mai">mai</option>
                <option value="6|juin">juin</option>
                <option value="7|juillet">juillet</option>
                <option value="8|aout">aout</option>
                <option value="9|septembre">septembre</option>
                <option value="10|octobre">octobre</option>
                <option value="11|novembre">novembre</option>
                <option value="12|decembre">decembre</option>
            </select></br>
    
            <button class="button" type="submit">Rechercher</button>
        </form>
    </div>


    <div class="historique">

        <table id="historique_table">
            <tr>
                <th style="border-top-width:0px;border-left-width:0px;border-bottom-width:0px"></th>
                <th colspan="4" bgcolor="#99B4D1"> {{annee}} </th>
                <th colspan="4" bgcolor="#99B4D1"> {{annee-1}} </th>
                <th colspan="2" rowspan="2" bgcolor="#99B4D1"> Ecart entre {{mois_string}} {{annee-1}} et {{mois_string}} {{annee}} </th>
                <th colspan="2" rowspan="2" bgcolor="#99B4D1"> Ecart du cumul entre {{mois_string}} {{annee-1}} et {{mois_string}} {{annee}} </th>
            </tr>
                
            <tr>
                <th style="border-top-width:0px;border-left-width:0px"></th> 
                <th colspan="2" bgcolor="#99B4D1"> {{mois_string}} </th> <th colspan="2" bgcolor="#99B4D1"> Cumul de janvier à {{mois_string}} </th> 
                <th colspan="2" bgcolor="#99B4D1"> {{mois_string}} </th> <th colspan="2" bgcolor="#99B4D1"> Cumul de janvier à {{mois_string}} </th> 
            </tr>
            <tr cellpadding="15">
                <th bgcolor="#99B4D1">CA</th> 
                <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> 
                <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> 
                <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> 
                <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th>
                <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th> 
                <th bgcolor="#99B4D1">Budget</th> <th bgcolor="#99B4D1">Reel</th>
            </tr>
            <tr>
                <th bgcolor="#99B4D1">Hi-fi</th>
                <td>{{ hifi_obj_cur|round|int }}</td>
                <td>{{ hifi_reel_cur|round|int }}</td>
                <td>{{ hifi_obj_cumul_cur|round|int }}</td>
                <td>{{ hifi_reel_cumul_cur|round|int }}</td>

                <td>{{ hifi_obj_prev|round|int }}</td>
                <td>{{ hifi_reel_prev|round|int }}</td>
                <td>{{ hifi_obj_cumul_prev|round|int }}</td>
                <td>{{ hifi_reel_cumul_prev|round|int }}</td>

                <td> {{ '{0:0.2f}'.format((hifi_obj_cur - hifi_obj_prev) / hifi_obj_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((hifi_reel_cur - hifi_reel_prev) / hifi_obj_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((hifi_obj_cumul_cur - hifi_obj_cumul_prev) / hifi_obj_cumul_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((hifi_reel_cumul_cur - hifi_reel_cumul_prev) / hifi_obj_cumul_cur * 100) }} %</td>
            </tr>
            <tr>
                <th bgcolor="#99B4D1">Magnéto</th>
                <td>{{ magneto_obj_cur|round|int }}</td>
                <td>{{ magneto_reel_cur|round|int }}</td>
                <td>{{ magneto_obj_cumul_cur|round|int }}</td>
                <td>{{ magneto_reel_cumul_cur|round|int }}</td>

                <td>{{ magneto_obj_prev|round|int }}</td>
                <td>{{ magneto_reel_prev|round|int }}</td>
                <td>{{ magneto_obj_cumul_prev|round|int }}</td>
                <td>{{ magneto_reel_cumul_prev|round|int }}</td>

                <td> {{ '{0:0.2f}'.format((magneto_obj_cur - magneto_obj_prev) / magneto_obj_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((magneto_reel_cur - magneto_reel_prev) / magneto_obj_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((magneto_obj_cumul_cur - magneto_obj_cumul_prev) / magneto_obj_cumul_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((magneto_reel_cumul_cur - magneto_reel_cumul_prev) / magneto_obj_cumul_cur * 100) }} %</td>
            </tr>
            <tr>
                <th bgcolor="#99B4D1">Fours</th>
                <td>{{ fours_obj_cur|round|int }}</td>
                <td>{{ fours_reel_cur|round|int }}</td>
                <td>{{ fours_obj_cumul_cur|round|int }}</td>
                <td>{{ fours_reel_cumul_cur|round|int }}</td>

                <td>{{ fours_obj_prev|round|int }}</td>
                <td>{{ fours_reel_prev|round|int }}</td>
                <td>{{ fours_obj_cumul_prev|round|int }}</td>
                <td>{{ fours_reel_cumul_prev|round|int }}</td>

                <td> {{ '{0:0.2f}'.format((fours_obj_cur - fours_obj_prev) / fours_obj_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((fours_reel_cur - fours_reel_prev) / fours_obj_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((fours_obj_cumul_cur - fours_obj_cumul_prev) / fours_obj_cumul_cur * 100) }} %</td>
                <td> {{ '{0:0.2f}'.format((fours_reel_cumul_cur - fours_reel_cumul_prev) / fours_obj_cumul_cur * 100) }} %</td>
            </tr>
            <tr>
                <th bgcolor="#99B4D1">Total</th>
                <td>{{ (hifi_obj_cur+magneto_obj_cur+fours_obj_cur)|round|int }}</td>
                <td>{{ (hifi_reel_cur+magneto_reel_cur+fours_reel_cur)|round|int }}</td>
                <td>{{ (hifi_obj_cumul_cur+magneto_obj_cumul_cur+fours_obj_cumul_cur)|round|int }}</td>
                <td>{{ (hifi_reel_cumul_cur+magneto_reel_cumul_cur+fours_reel_cumul_cur)|round|int }}</td>

                <td>{{ (hifi_obj_prev+magneto_obj_prev+fours_obj_prev)|round|int }}</td>
                <td>{{ (hifi_reel_prev+magneto_reel_prev+fours_reel_prev)|round|int }}</td>
                <td>{{ (hifi_obj_cumul_prev+magneto_obj_cumul_prev+fours_obj_cumul_prev)|round|int }}</td>
                <td>{{ (hifi_reel_cumul_prev+magneto_reel_cumul_prev+fours_reel_cumul_prev)|round|int }}</td>
            </tr>
        </table>

        <br>

        <script>
            document.getElementById('export_button').addEventListener('click', function(){
                var table2excel = new Table2Excel();
                table2excel.export(document.querySelectorAll("#historique_table"));
            })

        </script>

    </div>
    

</div>
{% endblock %}


